<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="{{ url_for('static', filename='javascript.js') }}"></script>
</head>
<body>
    <div class="dashboard">
        <aside class="sidebar">
            <h2>HospitalSys</h2>
            <ul>
                <li><a href="">Dashboard</a></li>
                <li><a href="{{ url_for('patients') }}">Patients</a></li>
                <li><a href="">Admissions</a></li>
                <li><a href="{{ url_for('doctors') }}">Doctors</a></li>
                <li><a href="">Appointments</a></li>
            </ul>
        </aside>

        <main class="content">
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>
